{% extends "layout.html" %} {% block content %}
<script src="{{url_for('static', filename='js/external/Chart.bundle.min.js')}}"></script>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active"><a href="{{ url_for('main') }}">Main screen</a></li>
    </ol>
</nav>

<div class="alert alert-info">
    Click a chart point to drilldown to the underlying dataset
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <canvas id="lineChart"></canvas>
        </div>
    </div>
</div>

<script>
    var cv = document.getElementById('lineChart')
    var ctx = cv.getContext('2d');
    var chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{ template_labels | tojson }},
            datasets: [{
                label: "Covid 19 confirmed",
                data: {{ template_values_confirmed }},
                backgroundColor: "#3399ff",
                borderColor: "#3399ff",
                fill: false,
            },
            {
                label: "Covid 19 deaths",
                data: {{ template_values_deaths }},
                backgroundColor: "#ff0000",
                borderColor: "#ff0000",
                fill: false,
            },
            {
                label: "Covid 19 recovered",
                data: {{ template_values_recovered }},
                backgroundColor: "#33cc33",
                borderColor: "#33cc33",
                fill: false,
            },
            ]
        },
        options: {
            title: {
                display: true,
                text: 'line chart with drilldowns'
            },
            legend: {
                onHover: function(e) {
                    e.target.style.cursor = 'pointer';
                }
            },
            hover: {
                onHover: function(e) {
                    var point = this.getElementAtEvent(e);
                    if (point.length) e.target.style.cursor = 'pointer';
                    else e.target.style.cursor = 'default';
                }
            }
        },
    });
    cv.onclick = function(evt) {
        var activePoints = chart.getElementsAtEventForMode(evt, 'point', chart.options);
        var firstPoint = activePoints[0];

        // if activePoints array len > 0, build up the link, and go to the drilldown page
        // this is to cover the case when the legend is clicked

        if (activePoints.length > 0) {
            var label = chart.data.labels[firstPoint._index];
            // in case you need to get also the value
            // var value = chart.data.datasets[firstPoint._datasetIndex].data[firstPoint._index];

            var url = "/" + label;
            window.location = url
        }
    };
</script>

{% endblock %}